<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.dinner.member">

	<select id="selectOne" resultType="mdto" parameterType="mdto">
		select *
		from member
		where id = #{id} and pw = #{pw}
	</select>
	
	<select id="chooseOne" resultType="mdto" parameterType="mdto">
		select *
		from member
		where id = #{id}
	</select>
	
	<select id="selectId" resultType="String" parameterType="String">
		select id
		from member
		where id = #{id}
	</select>
	
	<select id="randomMember" resultType="mdto">
		SELECT * FROM (
		SELECT * FROM member
		ORDER BY dbms_random.value)
		WHERE rownum &lt;= 6
	</select>

	<insert id="insertOne" parameterType="mdto">
		insert into member
		values (SEQ_MEMBER_NO.NEXTVAL,#{name},#{id},#{pw},#{repw},#{addrs1},#{addrs2},#{email},#{img},#{intro},0,0,#{regisno1},#{regisno2})
	</insert>
	<update id="modifyOne" parameterType="mdto">
		update member
		set name=#{name}, id=#{id}, intro=#{intro}, img=#{img}, addrs1=#{addrs1},
		addrs2=#{addrs2}, email=#{email}
		where id = #{id}
	</update>
	<delete id="deleteOne" parameterType="mdto">
		delete member
		where id = #{id}
	</delete>
</mapper>