@charset "utf-8";
/* NHN > UIT Center > Open UI Technology Team > Jeong Chan Myeong(dece24@nhncorp.com) 200812 */

html,
body{ height:100%;}

#smartInput{ margin:0 10px 0 0;}
.smartOutput{ font-size:12px; line-height:1.6; font-family:Dotum, AppleGothic, Sans-serif;} /* 스마트 에디터의 풍부한 표현이 정상적으로 출력되도록 하려면 콘텐츠가 출력되는 곳에 이 클래스를 적용하여야 한다. 예를 들면 게시물 읽기 페이지의 본문이 이에 해당된다. */

.smartOutput p{ margin-top:7px; margin-bottom:7px;}

.smartOutput blockquote.q1,
.smartOutput blockquote.q2,
.smartOutput blockquote.q3,
.smartOutput blockquote.q4,
.smartOutput blockquote.q5,
.smartOutput blockquote.q6,
.smartOutput blockquote.q7{ padding:10px; margin-left:15px; margin-right:15px;}

.smartOutput blockquote.q1{ padding:0 10px; border-left:2px solid #ccc;}
.smartOutput blockquote.q2{ padding:0 10px; background:url(../img/bg_qmark.gif) no-repeat;}
.smartOutput blockquote.q3{ border:1px solid #d9d9d9; margin: 0; padding: 5px 20px 5px 20px;}
.smartOutput blockquote.q4{ border:1px solid #d9d9d9; background:#fbfbfb; margin: 0; padding: 5px 20px 5px 20px;}
.smartOutput blockquote.q5{ border:2px solid #707070; margin: 0; padding: 5px 20px 5px 20px;}
.smartOutput blockquote.q6{ border:1px dashed #707070; margin: 0; padding: 5px 20px 5px 20px;}
.smartOutput blockquote.q7{ border:1px dashed #707070; background:#fbfbfb; margin: 0; padding: 5px 20px 5px 20px;}

.smartOutput sup{ font:10px Tahoma;}
.smartOutput sub{ font:10px Tahoma;}
.smartOutput table td{ padding:4px;}

.pic_content
{
    BORDER-RIGHT: #c5c5c5 1px solid;
    PADDING-RIGHT: 7px;
    BORDER-TOP: #c5c5c5 1px solid;
    PADDING-LEFT: 7px;
    PADDING-BOTTOM: 7px;
    BORDER-LEFT: #c5c5c5 1px solid;
    PADDING-TOP: 7px;
    BORDER-BOTTOM: #c5c5c5 1px solid;
    BACKGROUND-COLOR: #fbfbfb;
    TEXT-ALIGN: center
}
.pic_content .search
{
    PADDING-BOTTOM: 7px! important
}
.pic_content .search INPUT
{
    BORDER-RIGHT: #d8d8d8 1px solid;
    BORDER-TOP: #989898 1px solid;
    BORDER-LEFT: #989898 1px solid;
    BORDER-BOTTOM: #d8d8d8 1px solid
}
.pic_content .pic_area
{
    BORDER-RIGHT: #e6e7e6 1px solid;
    BORDER-TOP: #e6e7e6 1px solid;
    BACKGROUND: url(http://static.naver.com/mail4/editor/txt_view.gif) no-repeat center 50%;
    BORDER-LEFT: #e6e7e6 1px solid;
    WIDTH: 222px;
    BORDER-BOTTOM: #e6e7e6 1px solid;
    HEIGHT: 145px
}
.pic_content .btn_box
{
    BORDER-RIGHT: 0px;
    PADDING-RIGHT: 0px;
    BORDER-TOP: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 3px;
    MARGIN: 0px;
    BORDER-LEFT: 0px;
    PADDING-TOP: 7px;
    BORDER-BOTTOM: 0px;
    TEXT-ALIGN: center
}
.pic_content .btn_box IMG
{
    MARGIN: 0px
}

